.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: antiquewhite;
  margin-top: 3rem;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
  font-family: "Merriweather", serif;
}

.latest-album {
  background-color: #4caf50;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  cursor: pointer;
}

.play-button {
  font-size: 3rem;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  color: #4caf50;
}

.tour-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  color: #333;
  font-family: "Merriweather", serif;
}

.tour-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: "Merriweather", serif;
}

.tour-item {
  background-color: #f9f9f9;
  padding: 1.5rem;
  justify-content: space-between;
  border-radius: 8px;
  display: flex;
  width: 83%;
  gap: 8rem;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: "Merriweather", serif;
}

.tour-date {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-family: "Merriweather", serif;
}

.tour-place {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555;
  font-family: "Merriweather", serif;
}

.tour-venue {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #777;
  font-family: "Merriweather", serif;
}

.buy-btn {
  background-color: #4caf50;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Merriweather", serif;
}
