.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-right: 6rem;
  font-family: "Merriweather", serif;
}

/* .header :hover {
  font-weight: bold;
  text-decoration: none;
} */
.Main.Header .header .active {
  text-decoration: none;
  border-bottom: 4px solid white;
}
