.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  font-size: -webkit-xxx-large;
  background: rgb(35, 204, 220);
  padding: 1rem;
  margin-top: 3rem;
  font-weight: bold;
  position: relative;
  bottom: 0;
  width: 100%;
}
